.header-title {
  margin-top: 30px;
  font-size: 400%;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (max-device-width: 1000px) {
  .header-title {
    font-size: 200%;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .select-title {
    font-size: 70%;
  }
}
